h1 {
  color: orange;
  background-color: slateblue;
  font-size: 50px;  
  text-decoration: underline;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
p {
  color: slategray;
  text-align: center;
  line-height: 30px;
  letter-spacing: 3px;
  column-count:3;
  column-gap: 50px
}
ul{
  border-width: 4px;
  border-style: ridge;
  border-color: red;
  border-bottom: 4px dotted crimson;
  border-left: 8px dashed rgb(41, 13, 167);
}
li{
  list-style-type: none;
  text-shadow: 2px 2px #831c1c;
}