<style>
  .subscribe-button {
    background-color: rgb(222, 13, 13);
    color: white;
    border: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.15s;
  }

  .subscribe-button:hover {
    opacity: 0.8;
  }

  .subscribe-button:active {
    opacity: 0.5;
  }

  .join-button {
    background-color: white;
    border-color: rgb(21, 133, 224);
    border-style: solid;
    border-width: 1px;
    color: rgb(21, 133, 224);
    border-radius: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

    transition: background-color 0.15s, color 0.15s;
  }

  .join-button:hover {
    background-color: rgb(21, 133, 224);
    color: white;
  }

  .join-button:active {
    opacity: 0.7;
  }

  .tweet-button {
    background-color: rgb(8, 116, 218);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow 0.15s;
  }

  .tweet-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

.one-button {
  background-color: green;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  border-color: green;
  border-style: solid;
}

.one-button:active {
  transition: 0.15s;
  padding-left: 16px;
  padding-right: 16px;
}

.shadow-button {
  cursor: pointer;
  background-color: green;
  color: white;
  border-color: green;
  border-style:solid;
 
  box-shadow: 6px 6px 6px rgba(15, 2, 2, 0.15);
  }

.shadow-button:active {
  
}

/*.shadow-button:hover {
  transform: translateY(+2px);
  transition: 250ms;
  } */

/* suka bleat nahui */

.pushme-button {
  background-color: red;
  color: white;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  padding: 0;
  outline-offset: 4px;
}

</style>