p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

  .video-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    width: 280px;
  }

  .video-stats {
    font-family: Arial;
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;
  }

  .video-author {
    font-family: Arial;
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;
  }

  .video-discription {
    font-family: Arial;
    font-size: 14px;
    color: #606060;
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
  }

  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: #e34140;
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
        /*text-decoration: underline;*/
  }

  .span-example {
    color: red;
  }

  .span-example:hover {
    text-decoration: underline;
  }

  .shop-link {
    cursor: pointer;
  }

  .shop-link:hover {
    text-decoration: underline;
  }